h1 {
  font-size: 21px;
  font-weight: bold;
}

.App-container {
  margin: 0 auto;
  background-color: white;
}

.red {
  color: red;
}

.div-logo {
  margin-bottom: 30px;
  padding-left: 200px;
  border-bottom: 0.5px solid gray;
}

.div-logo img {
  height: 80px;
  width: 200px;
}

.main-container {
  padding-top: 20px;
  background-color: #f3f5f5;
  width: 100vw;
}

.main-container h2 {
  margin: 0 200px 30px 200px;
  font-size: 17px;
  font-weight: bold;
}

.menu-container {
  margin: 0 200px 30px 200px;
  background-color: white;
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu-container p,
h3 {
  color: #585c5c;
}

.menu-container h3 {
  font-size: 18px;
}

.menu-container img {
  width: 100px;
  height: 100px;
}

.div-restaurant {
  margin: 0 200px 30px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.div-restaurant img {
  height: 130px;
  width: 130px;
  object-fit: cover;
}

.infos-restaurant {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.infos-restaurant p {
  font-size: 17px;
  line-height: 1.5em;
  text-align: left;
  color: #585c5c;
}

.picture-restaurant {
  flex: 2;
}

.picture-restaurant img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 5px;
}

.infos-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 3;
}

.picture-menu {
  display: flex;
  flex: 1;
}

.picture-menu img {
  border-radius: 5px;
}

.price {
  display: flex;
  gap: 20px;
}
