h1 {
  font-size: 21px;
  font-weight: bold;
}

.App-container {
  margin: 0 auto;
  background-color: white;
}

p {
  color: #585c5c;
}

.red {
  color: red;
}

.div-logo {
  margin-bottom: 30px;
  border-bottom: 0.5px solid gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.div-logo img {
  height: 80px;
  width: 200px;
  padding-left: 150px;
}

.div-restaurant {
  margin: 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.div-restaurant img {
  height: 130px;
  width: 130px;
  object-fit: cover;
}

/*DIV QUI CONTIENT TOUTES LES DIV SOUS LE HEADER*/
.main-container {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #f3f5f5;
  display: flex;
  align-items: flex-start;
}

.section-gauche h2 {
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: bold;
}

/*LES MENUS SOUS LA CATEGORIE*/
.menu-container {
  /* border: 1px solid red; */
  padding-left: 10px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  /* flex-shrink: 0;    éléments ne sortent du container donc pour le shadow on le retire
  overflow: hidden; */
}

.menu-container > div:hover {
  /*effet sur les div de premier niveau (ie la div contenant le menu)*/
  box-shadow: 10px 5px 5px #00cdbd;
}

.menu {
  /* border: 1px solid red; */
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: calc((100% / 2) - (3 * 5px));
}

.infos-menu {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  flex: 2;
}

.description {
  height: 2em;
  overflow: hidden;
}

.menu-container h3 {
  color: #585c5c;
}

.menu-container h3 {
  font-size: 16px;
  color: black;
}

.menu-container img {
  width: 100px;
  height: 100px;
}

.infos-restaurant {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.infos-restaurant p {
  font-size: 17px;
  line-height: 1.5em;
  text-align: left;
  color: #585c5c;
}

.picture-restaurant {
  flex: 2;
}

.picture-restaurant img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 5px;
}

.picture-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1.5;
  box-sizing: border-box;
}

.picture-menu img {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.price {
  display: flex;
  gap: 20px;
}

/*DIV QUI CONTIENT LA DIV SECTION-GAUCHE ET ITEM-CART A DROITE (panier)*/
.sections {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 10px;
}

.section-gauche {
  flex: 2;
  /* border: 1px solid blue; */
  padding-right: 10px;
}

.item-cart {
  height: fit-content;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 5px;
}

.title-itemcart {
  background-color: #00cdbd;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 90%;
}

.meals-cart {
  padding-bottom: 10px;
  border-bottom: 0.5px solid black;
  width: 90%;
}

.title-itemcart h1 {
  font-size: 18px;
  color: white;
}

.cart-manage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 10px;
}

.cart-manage div:nth-child(2) {
  flex: 3; /*me permets d'aligner lecontenu du panier*/
}

.button-cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70px;
}

.button-cart button {
  border-radius: 50px;
  border: 0.5px solid #00cdbd;
  color: #00cdbd;
  background-color: #fff;
}

.total-manage {
  width: 90%;
}

.sous-total {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 30px;
}

.sous-total div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total {
  padding-top: 30px;
  padding-bottom: 10px;
  border-top: 0.5px solid black;
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
